.d1{
    border: 2px black solid;
    position: relative;
}
.d2{
    background-color: blue;
    position: fixed;
    height: 200px;
    z-index: 1;
}
.d3{
    background-color: lightgreen;
    position: absolute;
    width: 200px;
}
.d4{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -2;
}
.d5{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
    margin: 10px 0px 0px 10px;

}
.d6{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 0;
    margin: 20px 0px 0px 20px;

}
.d7{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    margin: 30px 0px 0px 30px;
}
.d8{
    background-color: red;
    width: 100px;
    height: 100px;
}
.d9{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.dd1{
    background-color: green;
    width: 100px;
    height: 100px;

}
.dd2{
    background-color: yellow;
    width: 100px;
    height: 100px;
}
.container1{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 400px;
}
.container2{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;

}
.main-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: absolute;
  }

.box1 {
    background-color: #f08080;
    top: 1530px;
    left: 50px;
    z-index: 10;
}
.box2 {
    background-color: #00bfff;
    top: 1480px;
    left: 110px;
  }
  .box3 {
    background-color: #ffff00;
    top: 1480px;
    left: 220px;
  }
  .box4 {
    background-color: #90ee90;
    top: 1480px;
    left: 330px;
  }

  .box5 {
    background-color: #800080;
    top: 1590px;
    left: 0;
}
.box6 {
    background-color: #ff69b4;
    top: 1590px;
    left: 110px;
}
.box7 {
    background-color: #ffb6c1;
    top: 1590px;
    left: 220px;
}
.box8 {
    background-color: #add8e6;
    top: 1590px;
    left: 330px;
}

.box9 {
    background-color: #90ee90;
    top: 1700px;
    left: 0;
}
.box10 {
    background-color: #ffff00;
    top: 1700px;
    left: 110px;
}
  .box11 {
    background-color: #800080;
    top: 1700px;
    left: 220px;
}
.box12 {
    background-color: #ff69b4;
    top: 1700px;
    left: 330px;
}
.dd3{
position: fixed;
        left: 0;
        top: 0;
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: first baseline;
        overflow: hidden;
}
.dd3 img{
    width: 100px;
    height: 100px;
}
.content{
    margin-left: 130px;
        padding: 20px;
}
.stickynav{
    display: flex;
    background-color: black;
    color: white;
}
.stickyheader {
    position: sticky;
    top: 0;
}
.image-container {
    position: relative;
    width: 600px;
    height: 400px;
}
.image-container img {
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.img1 {
    top: 0;
    left: 0;
    z-index: 10;
}
.img2 {
    top: 25px;
    left: 25px;
    z-index: 3;
}
.img3 {
    top: 50px;
    left: 50px;
    z-index: 4;
}
.img4 {
    top: 75px;
    left: 75px;
    z-index: 5;
}
.container {
    position: relative;
    width: 440px;
    height: 320px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: absolute;
  }

.bbox1 {
    background-color: #f08080;
    top: 5980px;
    left: 0px;
  }
.bbox2 {
    background-color: #00bfff;
    top: 5980px;
    left: 110px;
  }
.bbox3 {
    background-color: #ffff00;
    top: 5980px;
    left: 220px;
  }
.bbox4 {
    background-color: #90ee90;
    top: 5980px;
    left: 330px;
}

.bbox5 {
    background-color: #800080;
    top: 6090px;
    left: 0;
  }
.bbox6 {
    background-color: #ff69b4;
    top: 6090px;
    left: 110px;
  }
.bbox7 {
    background-color: #ffb6c1;
    top: 6090px;
    left: 220px;
  }
.bbox8 {
    background-color: #add8e6;
    top: 6090px;
    left: 330px;
  }

.bbox9 {
    background-color: #90ee90;
    top: 6200px;
    left: 0;
  }
.bbox10 {
    background-color: #ffff00;
    top: 6200px;
    left: 110px;
  }
.bbox11 {
    background-color: #800080;
    top: 6200px;
    left: 220px;
  }
